{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Your Events:</h2>
<div class="row">
{% for event in events %}
 
    <div class="col-md-3">  
      <div class="card">
        <a class="card-entire-link" href="{% url 'rooms:event_detail' event.id %}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <p class="card-text">{{ event.start }} to {{ event.end }} in {{ event.room }}</p>
        </div>
      </div>
    </div>

{% empty %}
No events yet.
{% endfor %}
  
</div>

{% endblock %}
